<launch>
    <rosparam file="$(find hikrobot_camera)/config/camera.yaml" command="load"/>
    <node pkg="hikrobot_camera" type="hikrobot_camera" name="hikrobot_camera" respawn="true" output="screen"> 
        <remap from="/image" to="/image"/>
        <param name="show_image" type="bool" value= "true"/>
    </node>
</launch>
